.session-card {
  box-shadow: var(--tui-shadow-small);
  padding: 1rem;
  border: 1px solid var(--tui-background-accent-1-hover);
  border-radius: var(--tui-radius-s);

  tui-badge {
    padding: 0 var(--tui-padding-m);
    border-radius: var(--tui-radius-s);
    font-weight: 600;
  }

  .card-content {
    display: flex;
    flex-direction: column;

    .info-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--tui-padding-m);
    }
  }
}
