.session-card {
  border: 1px solid var(--tui-background-accent-1-hover);
  box-shadow: var(--tui-shadow-small);
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: var(--tui-shadow-medium);
    outline: 2px solid var(--tui-background-accent-1-hover);
    transform: translateY(-2px);
  }

  tui-badge {
    padding: 0 var(--tui-padding-m);
    border-radius: var(--tui-radius-s);
    font-weight: 600;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    gap: var(--tui-padding-s);

    .info-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--tui-padding-m);

      p {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
