<header tuiHeader="h1">
  <hgroup tuiTitle>
    <h1>Mes séances d'entraînement</h1>
  </hgroup>
</header>

<section class="session-list">
  @for (session of filteredSessions(); track session.id) {
    @let exerciseTypeData = getExerciseTypeData(session.exerciseType);
    <div tuiCardLarge class="session-card">
      <header tuiHeader>
        <hgroup tuiTitle>
          <h2>Séance du {{ session.date | date }}</h2>
        </hgroup>
        <aside>
          <tui-badge size="l" [appearance]="exerciseTypeData.color">
            {{ exerciseTypeData.label }}
          </tui-badge>
        </aside>
      </header>

      <section class="card-content">
        <div class="info-row">
          <tui-icon icon="@tui.dog" />
          <p>{{ session.dogName }}</p>
        </div>

        <div class="info-row">
          <tui-icon icon="@tui.clock" class="info-icon" />
          <p>{{ session.duration }} min</p>
        </div>

        @if (session.notes) {
          <div class="info-row">
            <tui-icon icon="@tui.file-text" class="notes-icon" />
            <p>{{ session.notes }}</p>
          </div>
        }
      </section>
    </div>
  }

  @if (filteredSessions().length === 0) {
    <tui-block-status class="empty-state">
      <tui-icon icon="@tui.inbox" class="empty-icon" />
      <p>Aucune séance trouvée</p>
    </tui-block-status>
  }
</section>
